.App {
  text-align: center;
}

body {
  background: #e1e3de;
}

#root {
  padding: 60px;
  max-width: 800px;
  margin: auto;
}

#root form{
  display: flex;
}

#root form input[type=text]{
  line-height: 2;
  font-size: 18px;
  height: auto;
  padding-left: 20px;
  flex: 10 1 0%;
  font-style: arial;
}

#root ul{
  padding: 0px;
}

#root li {
  list-style: none;
  border: 1px solid #ccc;
  margin-top: -1px;
  line-height: 2;
  padding: 5px 20px;
  background: white;
}

#root li button{
  float: right;
  margin-top: 5px;
}

.setLineThroughTextDeco
{
  text-decoration: line-through;
}

.setNormalTextDeco
{
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
